/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/m4/
/stamp-h1
/tools/krb5-sync
/tools/krb5-sync-backend.8
/tools/krb5-sync.8
.deps/
.dirstamp
.libs/
*.lo
*.la
*.o
