Source: krb5-sync
Section: net
Priority: extra
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 7.0.50~), heimdal-dev, libldap2-dev
Standards-Version: 3.8.4
Homepage: http://www.eyrie.org/~eagle/software/krb5-sync/

Package: krb5-sync
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}
Recommends: krb5-admin-server
Description: Heimdal KDC plugin for password synchronization
 This plugin synchronizes passwords changed via kadmind to a foreign realm
 via the Kerberos v5 password change protocol.  It can also propagate
 changes to DISALLOW_ALL_TIX flag to Windows AD using LDAP.  It is built
 against Heimdal Kerberos but requires a patched version of Heimdal's
 libkadm5srv library to be called by kadmin, kadmind, and kpasswdd.
